    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Database Management</h3>
            <div class="subheading mb-3"></div>
            <p>The ability to store and retrieve data from a database in an efficient manner, as well as make a database.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2016 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Mobile Phone Programming</h3>
            <div class="subheading mb-3"></div>
            <p>Learning how to program mobile phone apps through android studios, with the use of emulators to check the accuracy of our work.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2016 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Computer Orginization and Architecture</h3>
            <div class="subheading mb-3"></div>
            <p>Learned the history of the architecture and the orginiztion of computers processes in the effort to make them faster and the components that allowed it to do so.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2016 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Intro to Java</h3>
            <div class="subheading mb-3"></div>
            <p>Learned the basic from java that help transitions to other languages making them easier to pick up next.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2016 - Present</span>
          </div>
        </div>

      </div>

    </section>